TABLE {
	background: #ffffff; /* Цвет фона таблицы */
	color: white; /* Цвет текста */
	border-collapse: collapse; /* Убираем двойные линии между ячейками */
	min-width: 1000px;  	/* Ширина таблицы */
}

TD {
	background: #babdb6; /* Цвет фона ячеек */
	color: #000000; /* Цвет текста */
}

TD, TH {
	padding: 3px; /* Поля вокруг содержимого таблицы */
	border: 2px solid black; /* Параметры рамки */
}

TH {
	color: white; /* Цвет текста */
	background: #2e3436; /* Цвет фона */
}